# Logistic Regression

## Loan Prediction

### About Dataset

    Predict Loan Eligibility for Dream Housing Finance company Dream Housing Finance company deals in all kinds of home loans. They have presence across all urban, semi urban and rural areas. Customer first applies for home loan and after that company validates the customer eligibility for loan.

    Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have provided a dataset to identify the customers segments that are eligible for loan amount so that they can specifically target these customers.

## Exploratory Data Analysis: Unveiling Patterns and Insights

    1. Introduction
        Exploratory Data Analysis (EDA) is a crucial phase in the data analysis pipeline, serving as the foundation for making informed decisions and deriving meaningful insights from raw data. This document
        aims to provide a comprehensive understanding of the EDA process, its importance, and the key techniques involved.

    2. Objectives of Exploratory Data Analysis
        1. Understand Data Characteristics:
            Gain insights into the distribution, central tendency, and variability of the data.
            Identify the presence of missing values, outliers, and anomalies.

        2. Explore Relationships:
            Examine correlations and dependencies between different variables.
            Uncover potential patterns and trends within the dataset.
        
        3. Visualize Data Distributions:
            Utilize graphical representations to visualize the distribution of data.
            Choose appropriate plots such as histograms, box plots, and scatter plots.
            
        4. Identify Patterns and Anomalies:
            Uncover hidden patterns that may not be apparent in raw data.
            Detect outliers and anomalies that could impact analysis outcomes.
            
            
    3. Techniques and Tools
        1. Descriptive Statistics:
            Calculate measures such as mean, median, and standard deviation.
            Utilize summary statistics to provide an overview of the dataset.
            Data Visualization:

            Employ graphical representations like histograms, box plots, and scatter plots.
            Create visualizations to illustrate trends, patterns, and relationships.
            Correlation Analysis:

            Use correlation matrices to quantify the relationships between variables.
            Identify strong positive/negative correlations and potential multicollinearity.
            Outlier Detection:

            Apply statistical methods or visual inspection to identify outliers.
            Assess the impact of outliers on the analysis and consider appropriate handling.

    4. Steps in Exploratory Data Analysis
        1. Data Collection:
            Gather the raw dataset from reliable sources.

        2. Data Cleaning:
            Handle missing values, duplicate entries, and inconsistencies.
            Ensure data is in a suitable format for analysis.

        3. Descriptive Statistics:
            Compute basic statistics to describe the central tendency and dispersion.

        4. Visualization:
            Generate visualizations to explore data distributions and relationships.

        5. Correlation Analysis:
            Investigate correlations between variables.

        6. Outlier Detection:
            Identify and analyze outliers to understand their impact.

    5. Case Study: Applying EDA to Real-World Data
        Provide a practical example where EDA is applied to a specific dataset, showcasing the step-by-step process and the insights gained.

    6. Conclusion
        Summarize the key findings from the EDA process and emphasize its importance in guiding subsequent data analysis and decision-making.

    7. References
        Include references to any tools, libraries, or methodologies used in the EDA process.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Documentation
import handcalcs.render

# Plot
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import colors

from matplotlib import cm # color map
import seaborn as sns
import plotly.express as px

# Importing detect_outliers function from datasist library
from datasist.structdata import detect_outliers

from sympy import Sum, symbols, Indexed, lambdify, diff
from mpl_toolkits.mplot3d.axes3d import Axes3D

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, PolynomialFeatures

In [2]:
# Path
data_path = './Data/'

### Load the dataset

In [3]:
train_data = pd.read_csv(data_path+"train.csv",  low_memory=False).reset_index(drop=True)
test_data = pd.read_csv(data_path+"test.csv",  low_memory=False).reset_index(drop=True)

print("Shape of the train data: ", train_data.shape)
print("Shape of the test data: ", test_data.shape)

Shape of the train data:  (614, 13)
Shape of the test data:  (367, 12)

In [4]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [6]:
columns = train_data.columns
columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
train_data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [9]:
train_data.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [10]:
raw_data = pd.concat([train_data,test_data],ignore_index=True)
raw_data.shape

(981, 13)

### Finding for missing values

In [11]:
raw_data.isnull().sum()

Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
dtype: int64

In [12]:
raw_data["LoanAmount"].fillna(raw_data["LoanAmount"].mean(),inplace=True)

In [13]:
raw_data["CoapplicantIncome"].fillna(raw_data["CoapplicantIncome"].mean(),inplace=True)

In [14]:
raw_data["ApplicantIncome"].fillna(raw_data["ApplicantIncome"].mean(),inplace=True)

In [15]:
raw_data["Loan_Amount_Term"].fillna(raw_data["Loan_Amount_Term"].mean(),inplace=True)

In [16]:
raw_data["Credit_History"].fillna(raw_data["Credit_History"].mean(),inplace=True)

In [17]:
# Add Credit history Manually in cat cols because it has data in the form of 0 and 1
cat_cols = ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status','Credit_History']

In [18]:
# Imputing object data with mode
for i in cat_cols:
    raw_data[i].fillna(raw_data[i].mode()[0],inplace=True)

In [19]:
raw_data.isnull().sum().sort_values(ascending=False)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [20]:
raw_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,142.51153,360.0,1.00000,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.00000,360.0,1.00000,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.00000,360.0,1.00000,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.00000,360.0,1.00000,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.00000,360.0,1.00000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777.0,113.00000,360.0,1.00000,Urban,Y
977,LP002975,Male,Yes,0,Graduate,No,4158,709.0,115.00000,360.0,1.00000,Urban,Y
978,LP002980,Male,No,0,Graduate,No,3250,1993.0,126.00000,360.0,0.83592,Semiurban,Y
979,LP002986,Male,Yes,0,Graduate,No,5000,2393.0,158.00000,360.0,1.00000,Rural,Y
980,LP002989,Male,No,0,Graduate,Yes,9200,0.0,98.00000,180.0,1.00000,Rural,Y

In [21]:
raw_data.nunique()

Loan_ID              981
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      752
CoapplicantIncome    437
LoanAmount           233
Loan_Amount_Term      13
Credit_History         3
Property_Area          3
Loan_Status            2
dtype: int64

In [22]:
for column in raw_data.columns:
    if column in ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']:
        print("-------------------------------------------------",column," - ",len(raw_data[column].unique()),"---------------------------------------------------")
        print(raw_data[column].unique())
        print("--------------------------------------------------------------------------------------------------------------")

------------------------------------------------- Gender  -  2 ---------------------------------------------------
['Male' 'Female']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Married  -  2 ---------------------------------------------------
['No' 'Yes']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Education  -  2 ---------------------------------------------------
['Graduate' 'Not Graduate']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Self_Employed  -  2 ---------------------------------------------------
['No' 'Yes']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Property_Area  -  3 ---------------------------------------------------
['Urban' 'Rural' 'Semiurban']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Loan_Status  -  2 ---------------------------------------------------
['Y' 'N']
--------------------------------------------------------------------------------------------------------------