# Multiple Linear Regression

## Predicting Food Prices in Nigreia
- The Economics of Eating: Predicting Food Price Trends in Nigeria
- This dataset contains Food Prices data for Nigeria, sourced from the World Food Programme Price Database. The World Food Programme Price Database covers foods such as maize, rice, beans, fish, and sugar for 98 countries and some 3000 markets. It is updated weekly but contains to a large extent monthly data. The data goes back as far as 1992 for a few countries, although many countries started reporting from 2003 or thereafter.

## Exploratory Data Analysis: Unveiling Patterns and Insights

    1. Introduction
        Exploratory Data Analysis (EDA) is a crucial phase in the data analysis pipeline, serving as the foundation for making informed decisions and deriving meaningful insights from raw data. This document aims to provide a comprehensive understanding of the EDA process, its importance, and the key techniques involved.

    2. Objectives of Exploratory Data Analysis
        1. Understand Data Characteristics:
            Gain insights into the distribution, central tendency, and variability of the data.
            Identify the presence of missing values, outliers, and anomalies.

        2. Explore Relationships:
            Examine correlations and dependencies between different variables.
            Uncover potential patterns and trends within the dataset.
        
        3. Visualize Data Distributions:
            Utilize graphical representations to visualize the distribution of data.
            Choose appropriate plots such as histograms, box plots, and scatter plots.
            
        4. Identify Patterns and Anomalies:
            Uncover hidden patterns that may not be apparent in raw data.
            Detect outliers and anomalies that could impact analysis outcomes.
            
            
    3. Techniques and Tools
        1. Descriptive Statistics:
            Calculate measures such as mean, median, and standard deviation.
            Utilize summary statistics to provide an overview of the dataset.
            Data Visualization:

            Employ graphical representations like histograms, box plots, and scatter plots.
            Create visualizations to illustrate trends, patterns, and relationships.
            Correlation Analysis:

            Use correlation matrices to quantify the relationships between variables.
            Identify strong positive/negative correlations and potential multicollinearity.
            Outlier Detection:

            Apply statistical methods or visual inspection to identify outliers.
            Assess the impact of outliers on the analysis and consider appropriate handling.

    4. Steps in Exploratory Data Analysis
        1. Data Collection:
            Gather the raw dataset from reliable sources.

        2. Data Cleaning:
            Handle missing values, duplicate entries, and inconsistencies.
            Ensure data is in a suitable format for analysis.

        3. Descriptive Statistics:
            Compute basic statistics to describe the central tendency and dispersion.

        4. Visualization:
            Generate visualizations to explore data distributions and relationships.

        5. Correlation Analysis:
            Investigate correlations between variables.

        6. Outlier Detection:
            Identify and analyze outliers to understand their impact.

    5. Case Study: Applying EDA to Real-World Data
        Provide a practical example where EDA is applied to a specific dataset, showcasing the step-by-step process and the insights gained.

    6. Conclusion
        Summarize the key findings from the EDA process and emphasize its importance in guiding subsequent data analysis and decision-making.

    7. References
        Include references to any tools, libraries, or methodologies used in the EDA process.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Documentation
import handcalcs.render

# Plot
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm # color map
import seaborn as sns
import plotly.express as px


from sympy import Sum, symbols, Indexed, lambdify, diff
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from mpl_toolkits.mplot3d.axes3d import Axes3D
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
# Path
data_path = './Data/'

### Import Dataset

In [3]:
raw_data = pd.read_csv(data_path+"wfp_food_prices_nga.csv",  low_memory=False).reset_index(drop=True)
raw_data.shape

(80982, 14)

In [4]:
raw_data

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.7,3.1656
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.0,0.0
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.0,0.0
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.0,0.0
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.0,0.0
80981,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.0,0.0

In [5]:
column_info = raw_data.iloc[0]
column_info

date                    #date
admin1             #adm1+name
admin2             #adm2+name
market       #loc+market+name
latitude             #geo+lat
longitude            #geo+lon
category           #item+type
commodity          #item+name
unit               #item+unit
priceflag    #item+price+flag
pricetype    #item+price+type
currency            #currency
price                  #value
usdprice           #value+usd
Name: 0, dtype: object

In [6]:
raw_data = raw_data.drop(0).reset_index(drop=True)
raw_data

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.7,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,pulses and nuts,Beans (niebe),KG,actual,Wholesale,NGN,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80976,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.0,0.0
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.0,0.0
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.0,0.0
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.0,0.0
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.0,0.0

In [7]:
# Rename the columns
raw_data.rename(columns={ 'date': 'Date', 'admin1': 'Admin1', 'admin2': 'Admin2', 'market': 'Market', 'latitude': 'Latitude', 'longitude': 'Longitude', 'category': 'Category', 
                     'commodity': 'Commodity', 'unit': 'Unit', 'priceflag': 'Price_Flag', 'pricetype': 'Price_Type', 'currency': 'Currency', 'price': 'Price', 'usdprice':'USD_Price' }, inplace=True)
raw_data.columns

Index(['Date', 'Admin1', 'Admin2', 'Market', 'Latitude', 'Longitude',
       'Category', 'Commodity', 'Unit', 'Price_Flag', 'Price_Type', 'Currency',
       'Price', 'USD_Price'],
      dtype='object')

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80981 entries, 0 to 80980
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        80981 non-null  object
 1   Admin1      80981 non-null  object
 2   Admin2      80981 non-null  object
 3   Market      80981 non-null  object
 4   Latitude    80981 non-null  object
 5   Longitude   80981 non-null  object
 6   Category    80981 non-null  object
 7   Commodity   80981 non-null  object
 8   Unit        80981 non-null  object
 9   Price_Flag  80981 non-null  object
 10  Price_Type  80981 non-null  object
 11  Currency    80981 non-null  object
 12  Price       80981 non-null  object
 13  USD_Price   80981 non-null  object
dtypes: object(14)
memory usage: 8.6+ MB

In [9]:
raw_data['Date'] = raw_data['Date'].astype('datetime64[ns]')
raw_data['Latitude'] = raw_data['Latitude'].astype(float)
raw_data['Longitude'] = raw_data['Longitude'].astype(float)
raw_data['Price'] = raw_data['Price'].astype(float)
raw_data['USD_Price'] = raw_data['USD_Price'].astype(float)

In [10]:
raw_data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Category,Commodity,Unit,Price_Flag,Price_Type,Currency,Price,USD_Price
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.70,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,pulses and nuts,Beans (niebe),KG,actual,Wholesale,NGN,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80976,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.00,0.0000
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.00,0.0000
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.00,0.0000
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.00,0.0000
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.00,0.0000

In [11]:
raw_data.describe()

           Latitude     Longitude          Price     USD_Price
count  80981.000000  80981.000000   80981.000000  80981.000000
mean      11.396802     10.278874    4887.086852     29.488854
std        1.699392      2.926734   10640.517897    329.652934
min        5.147640      3.401897       0.000000      0.000000
25%       11.280160      8.429120     100.000000      0.279300
50%       11.831100     11.166670     314.280000      0.968800
75%       12.362300     13.092646    1254.000000      3.909100
max       13.645000     13.264360  138000.000000  28662.419400

In [12]:
raw_data.nunique()

Date            264
Admin1           14
Admin2           31
Market           40
Latitude         40
Longitude        40
Category          8
Commodity        42
Unit             22
Price_Flag        4
Price_Type        2
Currency          1
Price         20163
USD_Price     29982
dtype: int64

### Finding for missing values

In [13]:
raw_data.isnull().sum()

Date          0
Admin1        0
Admin2        0
Market        0
Latitude      0
Longitude     0
Category      0
Commodity     0
Unit          0
Price_Flag    0
Price_Type    0
Currency      0
Price         0
USD_Price     0
dtype: int64

In [14]:
for column in raw_data.columns:
    if column not in ['Date', 'Latitude', 'Longitude', 'Price', 'USD_Price']:
        print("-------------------------------------------------",column," - ",len(raw_data[column].unique()),"---------------------------------------------------")
        print(raw_data[column].unique())
        print("--------------------------------------------------------------------------------------------------------------")

------------------------------------------------- Admin1  -  14 ---------------------------------------------------
['Katsina' 'Sokoto' 'Borno' 'Kano' 'Jigawa' 'Oyo' 'Lagos' 'Kaduna'
 'Zamfara' 'Abia' 'Gombe' 'Kebbi' 'Adamawa' 'Yobe']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Admin2  -  31 ---------------------------------------------------
['Jibia' 'Gada' "Mai'Adua" 'Mobbar' 'Dawakin Tofa' 'Maigatari'
 'Ibadan North' 'Maiduguri' 'Kosofe' 'Giwa' 'Kaura Namoda' 'Oboma Ngwa'
 'Akko' 'Kaugama' 'Lere' 'Dandume' 'Gwandu' 'Hong' 'Biu' 'Damaturu'
 'Potiskum' 'Konduga' 'Geidam' 'Gujba' 'Jakusko' 'Karasuwa' 'Nguru'
 'Yunusari' 'Yusufari' 'Borsari' 'Gulani']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Market  -  40 ---------------------------------------------------
['Jibia (CBM)' 'Illela (CBM)' 'Mai Adoua (CBM)' 'Damassack (CBM)'
 'Dawanau' 'Mai Gatari (CBM)' 'Ibadan' 'Maiduguri' 'Lagos' 'Giwa'
 'Kaura Namoda' 'Aba' 'Gombe' 'Gujungu' 'Saminaka' 'Dandume' 'Gwandu'
 'Mubi' 'Biu' 'Damaturu' 'Potiskum' 'Abba Gamaram' 'Baga Road'
 'Bullunkutu' 'Budum' 'Custom' 'Kusawam Shanu' 'Monday' 'Tashan Bama'
 'Bolori Stores' 'Damaturu (Sunday Market)' 'Geidam' 'Gujba (Buni Yadi)'
 'Jakusko' 'Bade (Gashua)' 'Nguru' 'Yunusari' 'Yusufari' 'Bursari'
 'Gulani (Tettaba)']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Category  -  8 ---------------------------------------------------
['cereals and tubers' 'pulses and nuts' 'non-food' 'oil and fats'
 'meat, fish and eggs' 'milk and dairy' 'vegetables and fruits'
 'miscellaneous food']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Commodity  -  42 ---------------------------------------------------
['Maize' 'Millet' 'Rice (imported)' 'Sorghum' 'Beans (niebe)' 'Wheat'
 'Maize (white)' 'Sorghum (white)' 'Rice (milled, local)' 'Bread'
 'Cassava meal (gari, yellow)' 'Gari (white)' 'Maize (yellow)'
 'Rice (local)' 'Sorghum (brown)' 'Yam (Abuja)' 'Fuel (diesel)'
 'Fuel (petrol-gasoline)' 'Oil (palm)' 'Cowpeas (brown)' 'Cowpeas (white)'
 'Yam' 'Groundnuts (shelled)' 'Maize flour' 'Meat (beef)' 'Meat (goat)'
 'Milk' 'Oil (vegetable)' 'Beans (red)' 'Beans (white)' 'Groundnuts'
 'Onions' 'Fish' 'Eggs' 'Bananas' 'Oranges' 'Spinach' 'Watermelons'
 'Cowpeas' 'Tomatoes' 'Salt' 'Sugar']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Unit  -  22 ---------------------------------------------------
['KG' '100 KG' '50 KG' 'Unit' 'L' '100 L' '1.3 KG' '1.4 KG' '3.4 KG'
 '20 G' '750 ML' '1.1 KG' '0.5 KG' '1.5 KG' '30 pcs' '400 G' '300 G'
 '2.1 KG' '3.1 KG' '1.2 KG' '250 G' '100 Tubers']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Price_Flag  -  4 ---------------------------------------------------
['actual' 'actual,aggregate' 'aggregate' 'forecast']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Price_Type  -  2 ---------------------------------------------------
['Wholesale' 'Retail']
--------------------------------------------------------------------------------------------------------------
------------------------------------------------- Currency  -  1 ---------------------------------------------------
['NGN']
--------------------------------------------------------------------------------------------------------------

In [15]:
raw_data.Category.value_counts()

cereals and tubers       39537
pulses and nuts          13841
vegetables and fruits     8794
meat, fish and eggs       6177
oil and fats              4928
non-food                  3436
miscellaneous food        2721
milk and dairy            1547
Name: Category, dtype: int64

In [16]:
raw_data.Commodity.value_counts()

Millet                         4972
Rice (imported)                4537
Rice (local)                   4193
Yam                            4002
Oil (palm)                     3368
Maize (white)                  2946
Sorghum (white)                2904
Cowpeas (white)                2699
Groundnuts (shelled)           2663
Sorghum (brown)                2660
Gari (white)                   2599
Maize (yellow)                 2560
Cowpeas (brown)                2526
Cassava meal (gari, yellow)    2310
Sorghum                        2109
Fuel (petrol-gasoline)         1721
Fuel (diesel)                  1715
Groundnuts                     1561
Oil (vegetable)                1560
Maize flour                    1557
Beans (red)                    1554
Meat (beef)                    1552
Meat (goat)                    1552
Milk                           1547
Beans (white)                  1547
Onions                         1546
Fish                           1543
Eggs                           1530
Watermelons                    1521
Oranges                        1520
Bananas                        1505
Tomatoes                       1415
Sugar                          1369
Salt                           1352
Spinach                        1287
Cowpeas                        1267
Bread                          1035
Maize                           601
Rice (milled, local)            394
Yam (Abuja)                      85
Wheat                            73
Beans (niebe)                    24
Name: Commodity, dtype: int64

In [17]:
raw_data['Unit'].value_counts()

100 KG        19125
KG            18740
1.3 KG         7056
L              5135
1.4 KG         5072
1.2 KG         4335
750 ML         3120
400 G          2387
0.5 KG         2094
50 KG          1965
20 G           1547
30 pcs         1530
2.1 KG         1521
250 G          1352
300 G          1287
Unit           1035
3.1 KG          867
1.1 KG          694
3.4 KG          680
1.5 KG          676
100 Tubers      666
100 L            97
Name: Unit, dtype: int64

In [18]:
raw_data['Price_Flag'].value_counts()

actual              51969
aggregate           14594
forecast            13949
actual,aggregate      469
Name: Price_Flag, dtype: int64

In [19]:
raw_data['Price_Type'].value_counts()

Retail       56111
Wholesale    24870
Name: Price_Type, dtype: int64

In [20]:
# Removing Outlier column
raw_data.drop('Currency',  axis=1, inplace=True)

### Encoding categorical data

Encoding categorical data is a crucial step in preparing data for machine learning models, as many algorithms require numerical input. Categorical data represents variables that can take on a limited, and usually fixed, number of values. There are several common techniques for encoding categorical data:

1. Label Encoding:
    - Assigns a unique integer to each category.
    - Suitable for ordinal data where the order matters.
    - Sklearn provides LabelEncoder for this purpose.
<br></br>
2. One-Hot Encoding:
    - Creates binary columns for each category and represents the presence of a category with a 1.
    - Suitable for nominal data where there is no inherent order.
<br></br>
3. Ordinal Encoding:
    - Manually assign numerical values based on the order of categories.
    - Useful when there is an inherent order among categories.
<br></br>   
4. Binary Encoding:
    - Converts categories into binary code.
    - Reduces the number of columns compared to one-hot encoding.
<br></br>
5. Hashing Encoding:
    - Converts categories into a fixed-size hash, useful when dealing with high cardinality.

In [21]:
pd.get_dummies(raw_data['Category'])

,cereals and tubers,"meat, fish and eggs",milk and dairy,miscellaneous food,non-food,oil and fats,pulses and nuts,vegetables and fruits
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
80976,0,0,0,0,0,0,0,1
80977,0,0,0,0,0,0,0,1
80978,0,0,0,0,0,0,0,1
80979,0,0,0,0,0,0,0,1
80980,0,0,0,0,0,0,0,1

In [22]:
pd.get_dummies(raw_data['Price_Flag'])

       actual  actual,aggregate  aggregate  forecast
0           1                 0          0         0
1           1                 0          0         0
2           1                 0          0         0
3           1                 0          0         0
4           1                 0          0         0
...       ...               ...        ...       ...
80976       0                 0          0         1
80977       0                 0          0         1
80978       0                 0          0         1
80979       0                 0          0         1
80980       0                 0          0         1

[80981 rows x 4 columns]

In [23]:
pd.get_dummies(raw_data['Price_Type'])

       Retail  Wholesale
0           0          1
1           0          1
2           0          1
3           0          1
4           0          1
...       ...        ...
80976       1          0
80977       1          0
80978       1          0
80979       1          0
80980       1          0

[80981 rows x 2 columns]

In [24]:
pd.get_dummies(raw_data['Unit'])

,0.5 KG,1.1 KG,1.2 KG,1.3 KG,1.4 KG,1.5 KG,100 KG,100 L,100 Tubers,2.1 KG,...,3.1 KG,3.4 KG,30 pcs,300 G,400 G,50 KG,750 ML,KG,L,Unit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
80977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
80978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
80979,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80980,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# This data has been seperated as test data because the price has to be predicted
test_data = raw_data[raw_data['Price_Flag'] == 'forecast'].reset_index(drop=True)
test_data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Category,Commodity,Unit,Price_Flag,Price_Type,Price,USD_Price
0,2006-01-15,Sokoto,Gada,Illela (CBM),13.645000,5.278000,cereals and tubers,Wheat,KG,forecast,Wholesale,0.0,0.0
1,2006-02-15,Sokoto,Gada,Illela (CBM),13.645000,5.278000,cereals and tubers,Wheat,KG,forecast,Wholesale,0.0,0.0
2,2006-03-15,Katsina,Mai'Adua,Mai Adoua (CBM),13.180000,8.230000,cereals and tubers,Wheat,KG,forecast,Wholesale,0.0,0.0
3,2006-03-15,Sokoto,Gada,Illela (CBM),13.645000,5.278000,cereals and tubers,Wheat,KG,forecast,Wholesale,0.0,0.0
4,2006-04-15,Katsina,Mai'Adua,Mai Adoua (CBM),13.180000,8.230000,cereals and tubers,Wheat,KG,forecast,Wholesale,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13944,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Onions,400 G,forecast,Retail,0.0,0.0
13945,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Oranges,400 G,forecast,Retail,0.0,0.0
13946,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Spinach,300 G,forecast,Retail,0.0,0.0
13947,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,0.0,0.0
13948,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,0.0,0.0

In [26]:
raw_data = raw_data[raw_data['Price_Flag'] != 'forecast'].reset_index(drop=True)
raw_data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Category,Commodity,Unit,Price_Flag,Price_Type,Price,USD_Price
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Maize,KG,actual,Wholesale,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Millet,KG,actual,Wholesale,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Rice (imported),KG,actual,Wholesale,358.70,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Sorghum,KG,actual,Wholesale,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,pulses and nuts,Beans (niebe),KG,actual,Wholesale,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67027,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (brown),KG,aggregate,Retail,298.55,0.6480
67028,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (white),100 KG,aggregate,Wholesale,29440.00,63.8992
67029,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (white),KG,aggregate,Retail,274.82,0.5965
67030,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Groundnuts (shelled),100 KG,aggregate,Wholesale,46960.00,101.9261
67031,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Groundnuts (shelled),KG,aggregate,Retail,467.66,1.0151

### One-Hot Encoding

In [27]:
encoder = OneHotEncoder()

In [28]:
def encoding_categorical_data(df, column):
    df = pd.concat([df, pd.DataFrame(encoder.fit_transform(df[[column]]).toarray(), columns=encoder.get_feature_names_out([column])).astype(int)], axis=1) 
    # Removing un necessary column
    df.drop(column,  axis=1, inplace=True)
    return df

In [29]:
data = raw_data.copy()
for col in ['Price_Type', 'Price_Flag', 'Unit', 'Commodity', 'Category']:
    data = encoding_categorical_data(data, col)
    
for col in ['Price_Type', 'Price_Flag', 'Unit', 'Commodity', 'Category']:
    test_data = encoding_categorical_data(test_data, col)

In [30]:
data.shape

(67032, 85)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67032 entries, 0 to 67031
Data columns (total 85 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   67032 non-null  datetime64[ns]
 1   Admin1                                 67032 non-null  object
 2   Admin2                                 67032 non-null  object
 3   Market                                 67032 non-null  object
 4   Latitude                               67032 non-null  float64
 5   Longitude                              67032 non-null  float64
 6   Price                                  67032 non-null  float64
 7   USD_Price                              67032 non-null  float64
 8   Price_Type_Retail                      67032 non-null  int32
 9   Price_Type_Wholesale                   67032 non-null  int32
 10  Price_Flag_actual                      67032 non-null  int32
 11  Price_Flag_actual,aggregate            67032 non-null  int32
 12  Price_Flag_aggregate                   67032 non-null  int32
 13  Unit_0.5 KG                            67032 non-null  int32
 14  Unit_1.1 KG                            67032 non-null  int32
 15  Unit_1.2 KG                            67032 non-null  int32
 16  Unit_1.3 KG                            67032 non-null  int32
 17  Unit_1.4 KG                            67032 non-null  int32
 18  Unit_1.5 KG                            67032 non-null  int32
 19  Unit_100 KG                            67032 non-null  int32
 20  Unit_100 L                             67032 non-null  int32
 21  Unit_100 Tubers                        67032 non-null  int32
 22  Unit_2.1 KG                            67032 non-null  int32
 23  Unit_20 G                              67032 non-null  int32
 24  Unit_250 G                             67032 non-null  int32
 25  Unit_3.1 KG                            67032 non-null  int32
 26  Unit_3.4 KG                            67032 non-null  int32
 27  Unit_30 pcs                            67032 non-null  int32
 28  Unit_300 G                             67032 non-null  int32
 29  Unit_400 G                             67032 non-null  int32
 30  Unit_50 KG                             67032 non-null  int32
 31  Unit_750 ML                            67032 non-null  int32
 32  Unit_KG                                67032 non-null  int32
 33  Unit_L                                 67032 non-null  int32
 34  Unit_Unit                              67032 non-null  int32
 35  Commodity_Bananas                      67032 non-null  int32
 36  Commodity_Beans (niebe)                67032 non-null  int32
 37  Commodity_Beans (red)                  67032 non-null  int32
 38  Commodity_Beans (white)                67032 non-null  int32
 39  Commodity_Bread                        67032 non-null  int32
 40  Commodity_Cassava meal (gari, yellow)  67032 non-null  int32
 41  Commodity_Cowpeas                      67032 non-null  int32
 42  Commodity_Cowpeas (brown)              67032 non-null  int32
 43  Commodity_Cowpeas (white)              67032 non-null  int32
 44  Commodity_Eggs                         67032 non-null  int32
 45  Commodity_Fish                         67032 non-null  int32
 46  Commodity_Fuel (diesel)                67032 non-null  int32
 47  Commodity_Fuel (petrol-gasoline)       67032 non-null  int32
 48  Commodity_Gari (white)                 67032 non-null  int32
 49  Commodity_Groundnuts                   67032 non-null  int32
 50  Commodity_Groundnuts (shelled)         67032 non-null  int32
 51  Commodity_Maize                        67032 non-null  int32
 52  Commodity_Maize (white)                67032 non-null  int32
 53  Commodity_Maize (yellow)               67032 non-null  int32
 54  Commodity_Maize flour                  67032 non-null  int32
 55  Commodity_Meat (beef)                  67032 non-null  int32
 56  Commodity_Meat (goat)                  67032 non-null  int32
 57  Commodity_Milk                         67032 non-null  int32
 58  Commodity_Millet                       67032 non-null  int32
 59  Commodity_Oil (palm)                   67032 non-null  int32
 60  Commodity_Oil (vegetable)              67032 non-null  int32
 61  Commodity_Onions                       67032 non-null  int32
 62  Commodity_Oranges                      67032 non-null  int32
 63  Commodity_Rice (imported)              67032 non-null  int32
 64  Commodity_Rice (local)                 67032 non-null  int32
 65  Commodity_Rice (milled, local)         67032 non-null  int32
 66  Commodity_Salt                         67032 non-null  int32
 67  Commodity_Sorghum                      67032 non-null  int32
 68  Commodity_Sorghum (brown)              67032 non-null  int32
 69  Commodity_Sorghum (white)              67032 non-null  int32
 70  Commodity_Spinach                      67032 non-null  int32
 71  Commodity_Sugar                        67032 non-null  int32
 72  Commodity_Tomatoes                     67032 non-null  int32
 73  Commodity_Watermelons                  67032 non-null  int32
 74  Commodity_Wheat                        67032 non-null  int32
 75  Commodity_Yam                          67032 non-null  int32
 76  Commodity_Yam (Abuja)                  67032 non-null  int32
 77  Category_cereals and tubers            67032 non-null  int32
 78  Category_meat, fish and eggs           67032 non-null  int32
 79  Category_milk and dairy                67032 non-null  int32
 80  Category_miscellaneous food            67032 non-null  int32
 81  Category_non-food                      67032 non-null  int32
 82  Category_oil and fats                  67032 non-null  int32
 83  Category_pulses and nuts               67032 non-null  int32
 84  Category_vegetables and fruits         67032 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(77), object(3)
memory usage: 23.8+ MB

In [32]:
data.describe()

,Latitude,Longitude,Price,USD_Price,Price_Type_Retail,Price_Type_Wholesale,Price_Flag_actual,"Price_Flag_actual,aggregate",Price_Flag_aggregate,Unit_0.5 KG,...,Commodity_Yam,Commodity_Yam (Abuja),Category_cereals and tubers,"Category_meat, fish and eggs",Category_milk and dairy,Category_miscellaneous food,Category_non-food,Category_oil and fats,Category_pulses and nuts,Category_vegetables and fruits
count,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,...,67032.000000,67032.0000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000,67032.000000
mean,11.411172,10.273114,5904.063438,35.625326,0.679153,0.320847,0.775286,0.006997,0.217717,0.025913,...,0.048171,0.0010,0.489871,0.076575,0.019185,0.033074,0.043681,0.060717,0.168979,0.107919
std,1.689944,2.934114,11435.785644,362.031271,0.466805,0.466805,0.417397,0.083354,0.412697,0.158877,...,0.214129,0.0316,0.499901,0.265918,0.137175,0.178831,0.204385,0.238813,0.374736,0.310280
min,5.147640,3.401897,1.000000,0.002300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.280160,8.429120,200.000000,0.600400,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.831100,11.166670,446.745000,1.307900,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,12.362300,13.092646,6862.500000,28.969800,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.0000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,13.645000,13.264360,138000.000000,28662.419400,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13949 entries, 0 to 13948
Data columns (total 82 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   13949 non-null  datetime64[ns]
 1   Admin1                                 13949 non-null  object
 2   Admin2                                 13949 non-null  object
 3   Market                                 13949 non-null  object
 4   Latitude                               13949 non-null  float64
 5   Longitude                              13949 non-null  float64
 6   Price                                  13949 non-null  float64
 7   USD_Price                              13949 non-null  float64
 8   Price_Type_Retail                      13949 non-null  int32
 9   Price_Type_Wholesale                   13949 non-null  int32
 10  Price_Flag_forecast                    13949 non-null  int32
 11  Unit_0.5 KG                            13949 non-null  int32
 12  Unit_1.1 KG                            13949 non-null  int32
 13  Unit_1.2 KG                            13949 non-null  int32
 14  Unit_1.3 KG                            13949 non-null  int32
 15  Unit_1.4 KG                            13949 non-null  int32
 16  Unit_1.5 KG                            13949 non-null  int32
 17  Unit_100 KG                            13949 non-null  int32
 18  Unit_100 L                             13949 non-null  int32
 19  Unit_100 Tubers                        13949 non-null  int32
 20  Unit_2.1 KG                            13949 non-null  int32
 21  Unit_20 G                              13949 non-null  int32
 22  Unit_250 G                             13949 non-null  int32
 23  Unit_3.1 KG                            13949 non-null  int32
 24  Unit_3.4 KG                            13949 non-null  int32
 25  Unit_30 pcs                            13949 non-null  int32
 26  Unit_300 G                             13949 non-null  int32
 27  Unit_400 G                             13949 non-null  int32
 28  Unit_50 KG                             13949 non-null  int32
 29  Unit_750 ML                            13949 non-null  int32
 30  Unit_KG                                13949 non-null  int32
 31  Unit_L                                 13949 non-null  int32
 32  Unit_Unit                              13949 non-null  int32
 33  Commodity_Bananas                      13949 non-null  int32
 34  Commodity_Beans (red)                  13949 non-null  int32
 35  Commodity_Beans (white)                13949 non-null  int32
 36  Commodity_Bread                        13949 non-null  int32
 37  Commodity_Cassava meal (gari, yellow)  13949 non-null  int32
 38  Commodity_Cowpeas                      13949 non-null  int32
 39  Commodity_Cowpeas (brown)              13949 non-null  int32
 40  Commodity_Cowpeas (white)              13949 non-null  int32
 41  Commodity_Eggs                         13949 non-null  int32
 42  Commodity_Fish                         13949 non-null  int32
 43  Commodity_Fuel (diesel)                13949 non-null  int32
 44  Commodity_Fuel (petrol-gasoline)       13949 non-null  int32
 45  Commodity_Gari (white)                 13949 non-null  int32
 46  Commodity_Groundnuts                   13949 non-null  int32
 47  Commodity_Groundnuts (shelled)         13949 non-null  int32
 48  Commodity_Maize                        13949 non-null  int32
 49  Commodity_Maize (white)                13949 non-null  int32
 50  Commodity_Maize (yellow)               13949 non-null  int32
 51  Commodity_Maize flour                  13949 non-null  int32
 52  Commodity_Meat (beef)                  13949 non-null  int32
 53  Commodity_Meat (goat)                  13949 non-null  int32
 54  Commodity_Milk                         13949 non-null  int32
 55  Commodity_Millet                       13949 non-null  int32
 56  Commodity_Oil (palm)                   13949 non-null  int32
 57  Commodity_Oil (vegetable)              13949 non-null  int32
 58  Commodity_Onions                       13949 non-null  int32
 59  Commodity_Oranges                      13949 non-null  int32
 60  Commodity_Rice (imported)              13949 non-null  int32
 61  Commodity_Rice (local)                 13949 non-null  int32
 62  Commodity_Rice (milled, local)         13949 non-null  int32
 63  Commodity_Salt                         13949 non-null  int32
 64  Commodity_Sorghum                      13949 non-null  int32
 65  Commodity_Sorghum (brown)              13949 non-null  int32
 66  Commodity_Sorghum (white)              13949 non-null  int32
 67  Commodity_Spinach                      13949 non-null  int32
 68  Commodity_Sugar                        13949 non-null  int32
 69  Commodity_Tomatoes                     13949 non-null  int32
 70  Commodity_Watermelons                  13949 non-null  int32
 71  Commodity_Wheat                        13949 non-null  int32
 72  Commodity_Yam                          13949 non-null  int32
 73  Commodity_Yam (Abuja)                  13949 non-null  int32
 74  Category_cereals and tubers            13949 non-null  int32
 75  Category_meat, fish and eggs           13949 non-null  int32
 76  Category_milk and dairy                13949 non-null  int32
 77  Category_miscellaneous food            13949 non-null  int32
 78  Category_non-food                      13949 non-null  int32
 79  Category_oil and fats                  13949 non-null  int32
 80  Category_pulses and nuts               13949 non-null  int32
 81  Category_vegetables and fruits         13949 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(74), object(3)
memory usage: 4.8+ MB

In [34]:
data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Price,USD_Price,Price_Type_Retail,Price_Type_Wholesale,...,Commodity_Yam,Commodity_Yam (Abuja),Category_cereals and tubers,"Category_meat, fish and eggs",Category_milk and dairy,Category_miscellaneous food,Category_non-food,Category_oil and fats,Category_pulses and nuts,Category_vegetables and fruits
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,175.92,1.5525,0,1,...,0,0,1,0,0,0,0,0,0,0
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,150.18,1.3254,0,1,...,0,0,1,0,0,0,0,0,0,0
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,358.70,3.1656,0,1,...,0,0,1,0,0,0,0,0,0,0
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,155.61,1.3733,0,1,...,0,0,1,0,0,0,0,0,0,0
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,196.87,1.7374,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67027,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,298.55,0.6480,1,0,...,0,0,0,0,0,0,0,0,1,0
67028,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,29440.00,63.8992,0,1,...,0,0,0,0,0,0,0,0,1,0
67029,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,274.82,0.5965,1,0,...,0,0,0,0,0,0,0,0,1,0
67030,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,46960.00,101.9261,0,1,...,0,0,0,0,0,0,0,0,1,0
67031,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,467.66,1.0151,1,0,...,0,0,0,0,0,0,0,0,1,0

In [35]:
data = data.drop(['Date', 'Admin1', 'Admin2', 'Market'], axis=1)

In [37]:
raw_data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Category,Commodity,Unit,Price_Flag,Price_Type,Price,USD_Price
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Maize,KG,actual,Wholesale,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Millet,KG,actual,Wholesale,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Rice (imported),KG,actual,Wholesale,358.70,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,cereals and tubers,Sorghum,KG,actual,Wholesale,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08000,7.24000,pulses and nuts,Beans (niebe),KG,actual,Wholesale,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67027,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (brown),KG,aggregate,Retail,298.55,0.6480
67028,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (white),100 KG,aggregate,Wholesale,29440.00,63.8992
67029,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Cowpeas (white),KG,aggregate,Retail,274.82,0.5965
67030,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Groundnuts (shelled),100 KG,aggregate,Wholesale,46960.00,101.9261
67031,2023-01-15,Zamfara,Kaura Namoda,Kaura Namoda,12.59519,6.58635,pulses and nuts,Groundnuts (shelled),KG,aggregate,Retail,467.66,1.0151

In [44]:
data.duplicated()

RangeIndex(start=0, stop=67032, step=1)

### Data Exploration

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 5))  # You can adjust the width and height as needed

# Choose a color palette with fewer colors
palette = sns.color_palette("Set1", len(data['Category'].unique()))

# Get the top 8 categories (you can adjust the number as needed)
top_categories = data['Category'].value_counts().index

# Filter the data to include only the top categories
filtered_data = data[data['Category'].isin(top_categories)]

# Creating the bar plot with different colors for each category
sns.barplot(x='Category', y='USD_Price', hue='Category', data=filtered_data, palette=palette)

# Adding titles and labels
plt.title('Bar Plot of USD Price by Category')
plt.xlabel('Category')
plt.ylabel('USD Price')

# Creating a custom legend with colors
legend_handles = [plt.Line2D([0], [0], color=palette[i], lw=4) for i, _ in enumerate(top_categories)]
plt.legend(legend_handles, top_categories, title='Category')

# Show the plot
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(10, 18))  # Swapping width and height for a horizontal plot

# Get the top categories
top_categories = data['Commodity'].value_counts().index

# Filter the data to include only the top categories
filtered_data = data[data['Commodity'].isin(top_categories)]

# Creating the horizontal bar plot with different colors for each category
sns.barplot(x='USD Price', y='Commodity', hue='Commodity', data=filtered_data)

# Adding titles and labels
plt.title('Plot of USD Price by Commodity')
plt.xlabel('USD_Price')
plt.ylabel('Commodity')

# Creating a custom legend with colors
legend_handles = [plt.Line2D([0], [0], marker='o', color='w', markerfacecolor=sns.color_palette()[i % len(sns.color_palette())], markersize=10) for i, _ in enumerate(top_categories)]
plt.legend(legend_handles, top_categories, title='Commodity')

# Show the plot
plt.show()

In [ ]:

# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(14, 5))

# Choose a color palette with fewer colors
palette = sns.color_palette("Set1", len(data['Price_Type'].unique()))

# Get Price Type 
top_price_type = data['Price_Type'].value_counts().index

# Filter the data to include only the top Price Type
filtered_data = data[data['Price_Type'].isin(top_price_type)]

# Creating the bar plot with different colors for each Price Type
ax = sns.barplot(x='Price_Type', y='USD_Price', hue='Price_Type', data=filtered_data, palette=palette)

# Adding titles and labels
plt.title('USD Price by Price Type')
plt.xlabel('Price Type')
plt.ylabel('USD Price')

# Creating a custom legend with colors
legend_handles = [plt.Line2D([0], [0], color=palette[i], lw=4) for i, _ in enumerate(top_price_type)]
plt.legend(legend_handles, top_price_type, title='Price Type')

# Adding annotations on top of the bars
for p in ax.patches:
    ax.annotate(f'{p.get_height():.2f}', (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center', xytext=(0, 10), textcoords='offset points')

# Show the plot
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 5))

# Creating a histogram with 20 bins
sns.histplot(data["Price"], kde=True, bins=10,
    stat="density", kde_kws=dict(cut=3),
    alpha=.4, edgecolor=(1, 1, 1, .4),)

# Adding titles and labels
plt.title('Price Distribution')
plt.xlabel('Price')
plt.ylabel('Frequency')

# Show the plot
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 5))

# Creating a histogram with 20 bins
sns.histplot(data["USD_Price"], kde=True, bins=10,
    stat="density", kde_kws=dict(cut=3),
    alpha=.4, edgecolor=(1, 1, 1, .4),)

# Adding titles and labels
plt.title('USD Price Distribution')
plt.xlabel('USD Price')
plt.ylabel('Frequency')

# Show the plot
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 5))

sns.kdeplot(data["USD_Price"])

# Adding titles and labels
plt.title('USD Price Distribution')
plt.xlabel('USD Price')
plt.ylabel('Frequency')

# Show the plot
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 8))  # Swapping width and height for a horizontal plot
sns.scatterplot(x=data['Price'], y=data['Commodity'])
plt.title('Scatter Plot of NGN Price vs Commodity')
plt.xlabel('Commodity')
plt.ylabel('NGN Price')
plt.show()

In [ ]:
# Adjusting figure size (set this before creating the plot)
plt.figure(figsize=(18, 8))  # Swapping width and height for a horizontal plot
sns.scatterplot(x=data['USD_Price'], y=data['Commodity'])
plt.title('Scatter Plot of USD Price vs Commodity')
plt.xlabel('X1')
plt.ylabel('y')
plt.show()

In [ ]:
sns.pairplot(data)
plt.show()

In [ ]:
sns.pairplot(data, kind = 'reg' , plot_kws = {'line_kws':{'color': 'red'}})
plt.show()

In [ ]:
co_relation = data.corr()

In [ ]:
plt.figure(figsize=(18, 8))  # Swapping width and height for a horizontal plot
sns.heatmap(co_relation, xticklabels=co_relation.columns, yticklabels=co_relation.columns, annot=True)

###  Data Spliting