# Multiple Linear Regression

## Predicting Food Prices in Nigreia
- The Economics of Eating: Predicting Food Price Trends in Nigeria
- This dataset contains Food Prices data for Nigeria, sourced from the World Food Programme Price Database. The World Food Programme Price Database covers foods such as maize, rice, beans, fish, and sugar for 98 countries and some 3000 markets. It is updated weekly but contains to a large extent monthly data. The data goes back as far as 1992 for a few countries, although many countries started reporting from 2003 or thereafter.

### Data Preprocessing

#### It is a data mining technique that transforms raw data into an understandable format. Raw data(real world data) is always incomplete and that data cannot be sent through a model. That would cause certain errors. That is why we need to preprocess data before sending through a model.

Steps in Data Preprocessing These are the steps:

    Import libraries
    Import dataset
    Finding for missing values
    Encoding categorical data
    Data splitting
    Feature Scaling

In [2]:
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Documentation
import handcalcs.render

# Plot
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm # color map
import seaborn as sns

from sympy import Sum, symbols, Indexed, lambdify, diff
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from mpl_toolkits.mplot3d.axes3d import Axes3D
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
# Path
data_path = './Data/'

In [5]:
data = pd.read_csv(data_path+"wfp_food_prices_nga.csv",  low_memory=False).reset_index(drop=True)
data.shape

(80982, 14)

In [6]:
data

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.7,3.1656
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.0,0.0
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.0,0.0
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.0,0.0
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.0,0.0
80981,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.0,0.0

In [11]:
column_info = data.iloc[0]
column_info

date                    #date
admin1             #adm1+name
admin2             #adm2+name
market       #loc+market+name
latitude             #geo+lat
longitude            #geo+lon
category           #item+type
commodity          #item+name
unit               #item+unit
priceflag    #item+price+flag
pricetype    #item+price+type
currency            #currency
price                  #value
usdprice           #value+usd
Name: 0, dtype: object

In [12]:
data = data.drop(0).reset_index(drop=True)
data

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.7,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.08,7.24,pulses and nuts,Beans (niebe),KG,actual,Wholesale,NGN,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80976,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.0,0.0
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.0,0.0
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.0,0.0
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.0,0.0
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062664985656738,11.171370506286621,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.0,0.0

In [21]:
# Rename the columns
data.rename(columns={ 'date': 'Date', 'admin1': 'Admin1', 'admin2': 'Admin2', 'market': 'Market', 'latitude': 'Latitude', 'longitude': 'Longitude', 'category': 'Category', 
                     'commodity': 'Commodity', 'unit': 'Unit', 'pricetype': 'Price Type', 'currency': 'Currency', 'price': 'Price', 'usdprice':'USD Price' }, inplace=True)
data.columns

Index(['Date', 'Admin1', 'Admin2', 'Market', 'Latitude', 'Longitude',
       'Category', 'Commodity', 'Unit', 'priceflag', 'Price Type', 'Currency',
       'Price', 'USD Price'],
      dtype='object')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80981 entries, 0 to 80980
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        80981 non-null  datetime64[ns]
 1   Admin1      80981 non-null  object
 2   Admin2      80981 non-null  object
 3   Market      80981 non-null  object
 4   Latitude    80981 non-null  object
 5   Longitude   80981 non-null  object
 6   Category    80981 non-null  object
 7   Commodity   80981 non-null  object
 8   Unit        80981 non-null  object
 9   priceflag   80981 non-null  object
 10  Price Type  80981 non-null  object
 11  Currency    80981 non-null  object
 12  Price       80981 non-null  object
 13  USD Price   80981 non-null  object
dtypes: datetime64[ns](1), object(13)
memory usage: 8.6+ MB

In [22]:
data['Date'] = data['Date'].astype('datetime64[ns]')
data['Latitude'] = data['Latitude'].astype(float)
data['Longitude'] = data['Longitude'].astype(float)
data['Price'] = data['Price'].astype(float)
data['USD Price'] = data['USD Price'].astype(float)

In [23]:
data

,Date,Admin1,Admin2,Market,Latitude,Longitude,Category,Commodity,Unit,priceflag,Price Type,Currency,Price,USD Price
0,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Maize,KG,actual,Wholesale,NGN,175.92,1.5525
1,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Millet,KG,actual,Wholesale,NGN,150.18,1.3254
2,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Rice (imported),KG,actual,Wholesale,NGN,358.70,3.1656
3,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,cereals and tubers,Sorghum,KG,actual,Wholesale,NGN,155.61,1.3733
4,2002-01-15,Katsina,Jibia,Jibia (CBM),13.080000,7.240000,pulses and nuts,Beans (niebe),KG,actual,Wholesale,NGN,196.87,1.7374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80976,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Onions,400 G,forecast,Retail,NGN,0.00,0.0000
80977,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Oranges,400 G,forecast,Retail,NGN,0.00,0.0000
80978,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Spinach,300 G,forecast,Retail,NGN,0.00,0.0000
80979,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Tomatoes,0.5 KG,forecast,Retail,NGN,0.00,0.0000
80980,2023-12-15,Yobe,Yusufari,Yusufari,13.062665,11.171371,vegetables and fruits,Watermelons,2.1 KG,forecast,Retail,NGN,0.00,0.0000

In [25]:
data.iloc[80976]

Date            2023-12-15 00:00:00
Admin1                         Yobe
Admin2                     Yusufari
Market                     Yusufari
Latitude                  13.062665
Longitude                 11.171371
Category      vegetables and fruits
Commodity                    Onions
Unit                          400 G
priceflag                  forecast
Price Type                   Retail
Currency                        NGN
Price                           0.0
USD Price                       0.0
Name: 80976, dtype: object